{{ form_start(form) }}
    <div class="card shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form_label(form.managerFirstName) }}
                        {{ form_widget(form.managerFirstName) }}
                        {{ form_errors(form.managerFirstName) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form_label(form.managerLastName) }}
                        {{ form_widget(form.managerLastName) }}
                        {{ form_errors(form.managerLastName) }}
                    </div>
                </div>
            </div>

            <div class="mb-3">
                {{ form_label(form.companyName) }}
                {{ form_widget(form.companyName) }}
                {{ form_errors(form.companyName) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.phoneNumber) }}
                {{ form_widget(form.phoneNumber) }}
                {{ form_errors(form.phoneNumber) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.address) }}
                {{ form_widget(form.address) }}
                {{ form_errors(form.address) }}
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form_label(form.city) }}
                        {{ form_widget(form.city) }}
                        {{ form_errors(form.city) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        {{ form_label(form.country) }}
                        {{ form_widget(form.country) }}
                        {{ form_errors(form.country) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
            <a href="{{ path('app_client_index') }}" class="btn btn-secondary">Annuler</a>
        </div>
    </div>
{{ form_end(form) }} 