{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.email) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.username) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.firstName) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.lastName) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.roles) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.plainPassword) }}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
            <a href="{{ path('app_user_index') }}" class="btn btn-secondary">Retour à la liste</a>
        </div>
    </div>
{{ form_end(form) }} 